In [21]:
#Load Libraries
import requests 
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import re

In [27]:
# Function to scrape data (Year has four digits and month one/two digits)
def oil_scraper(year, month):

    # Let's make a request to check the status
    response = requests.get('https://es.fuelo.net/calendar/week/' + str(year) +  "/" + str(month) + "?lang=en'"    )
    status_code = (response.status_code)    

    if status_code != 200:
        return "The status code is not 200"

    # Extract content
    soup = bs(response.content,'html.parser')
    calendar_week = soup.find_all('div', {'class': 'calendar week'})
    calendar_week_elements = soup.find_all('div', class_='cell border')

    # Prepare the dataframe
    df=pd.DataFrame(columns=["Week", "Unleaded 95", "Diesel", "LPG"])

    # Scraper
    column_names = list(df.columns.values.tolist())
    columns = len(df.columns)
    rows = int(len(calendar_week_elements)/columns)

    i=0
    for row in range(rows):
        for column in range(columns):
            if column_names[column] == "Week":
                df.at[row, column_names[column]] = re.sub(re.compile(r'^[^0-9]*'), '', calendar_week_elements[i].text).strip()
                i=i+1
            else:
                df.at[row, column_names[column]] = re.sub(re.compile(r'^[^0-9]*'), '', calendar_week_elements[i].text)[:-5]
                i=i+1
        
    # Change the time column


    return df

In [28]:
test = oil_scraper(2023, 1)
test

                Week Unleaded 95 Diesel    LPG
0  26.12 - 01.01.23        1,590  1,726  1,017
1  02.01 - 08.01.23        1,586  1,713  1,014
2  09.01 - 15.01.23        1,616  1,717  1,005
3  16.01 - 22.01.23        1,645  1,734  1,000
4  23.01 - 29.01.23        1,669  1,747  0,999
5  30.01 - 05.02.23        1,699  1,745  0,999

In [ ]:
# Data to export
#test.to_excel("scraper.xlsx")